**Домашнее задание**

In [2]:
import pandas as pd

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [8]:
%%time
movie_rates = pd.read_csv('ratings.csv')
movie_id = pd.read_csv('movies.csv')

Wall time: 14.2 s

In [12]:
five_stars_filter = movie_rates[(movie_rates['rating'] == 5.0)]
max_stars = five_stars_filter['movieId'].value_counts().keys()
#print(max_stars)#Control
movie_id[(movie_id['movieId'] == max_stars[0])]

#По моему можно сделать проще...как пока не придумал... трудно было  "достать"

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')
count_filter = data[ ((data['country']=='Latvia') | (data['country']=='Estonia') | (data['country']=='Lithuania')) & ((data['category']== 4 )|(data['category']== 12)|(data['category']== 21)) & ((data['quantity'] >= 0 )) & ((data['year'] >=2005 ) & (data['year'] <= 2010 ))]
#print(count_filter['category'].unique())#Control
#print(count_filter['year'].unique())#Control
#print(count_filter['country'].unique())#Control
count_filter['quantity'].sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
my_url_1='https://news.sportbox.ru/Vidy_sporta/Hokkej/KHL'

my_data_frame = pd.read_html(my_url_1, encoding='utf-8')
print(my_data_frame[0].info())#Control
my_data_frame[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
№          12 non-null int64
Команда    12 non-null object
И          12 non-null int64
В(ВО)      12 non-null object
П(ПО)      12 non-null object
Ш          12 non-null object
О          12 non-null int64
dtypes: int64(3), object(4)
memory usage: 800.0+ bytes
None

     №     Команда   И   В(ВО)   П(ПО)        Ш   О
0    1        ЦСКА  52   33(5)   10(4)   162-83  80
1    2         СКА  53  24(11)   13(5)  147-106  75
2    3     Йокерит  52   24(8)   13(7)  157-135  71
3    4    Динамо М  53   26(5)   15(7)  153-120  69
4    5     Спартак  53   22(8)   15(8)  150-120  68
5    6   Локомотив  52   19(9)   20(4)  137-130  60
6    7      Витязь  52   19(6)   19(8)  113-129  58
7    8     Торпедо  53   19(7)   23(4)  147-143  56
8    9        Сочи  52   13(7)   24(8)  104-140  48
9   10  Северсталь  53   11(8)  24(10)  108-146  48
10  11    Динамо Р  51    9(5)   31(6)   82-155  34
11  12   Динамо Мн  52    9(3)  30(10)  108-187  34